dict.txt
.ipynb_checkpoints/corpus_freq-checkpoint.ipynb
.DS_Store
notebooks/.ipynb_checkpoints/corpus_freq-checkpoint.ipynb
__pycache__/footnotes.cpython-38.pyc
node_modules/
footnotes-app/public/js

footnotes_app/target
footnotes_app/checkouts
footnotes_app/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
cljs-runtime
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
